@{
    ViewBag.Title = "About";
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
